/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0000;
}

::-webkit-scrollbar-track-piece{
    background-color: #0000;
}

::-webkit-scrollbar-corner{
    background-color: #0000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff5;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffff;
}

body {
    background-color: #242424;
    height: 100vh;
    width: 100vw;
}

div {
    border: 0px solid #00aaff;
}

.business-card {
    min-height: 375px;
    height: 475px;
    min-width: 1025px;
    width: 1125px;
    border-radius: 15px;
    background: rgb(54, 0, 80);
    background: -moz-linear-gradient(45deg, rgba(54, 0, 80, 1) 0%, rgba(20, 0, 29, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(54, 0, 80, 1) 0%, rgba(20, 0, 29, 1) 100%);
    background: linear-gradient(45deg, rgba(54, 0, 80, 1) 0%, rgba(20, 0, 29, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#360050", endColorstr="#14001d", GradientType=1);
    padding: 30px;
    -webkit-box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.35);
    overflow-y: scroll;
    color: #efefef;
    transition: height 1s, width 1s;
}

.business-card .row {
    min-height: 100%;
}

.bc-photo{
    border: 0px solid #efefef;
    border-radius: 15px;
    padding: 0px 30px 0px 0px;
}

.bc-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.bc-content{
    border: solid #efefef55;
    border-width: 0 2px;
    padding: 20px 30px;
}

.bc-content div{
    width: 100%;
}

.bc-links{
    border: 0px solid #efefef;
    border-radius: 15px;
    padding: 20px 40px;
}

.bc-links a{
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: #efefef;
    text-decoration: none;
    border: 1px solid #efefef;
    transition: background .5s, color .5s;
}

.bc-links a:hover{
    color: #242424;
    background-color: #efefef;
}

@media only screen and (max-width: 1400px) {
    .business-card {
        height: 75vh;
        min-height: 0px;
        width: 75vw;
        min-width: 0px;
    }
}

@media only screen and (max-width: 1100px) {
    .business-card {
        height: 65vh;
        min-height: 0px;
        width: 95vw;
        min-width: 0px;
    }
}

@media only screen and (max-width: 800px) {
    .business-card {
        height: 50vh;
        min-height: 0px;
        width: 100vw;
        min-width: 0px;
    }
}

@media only screen and (max-width: 500px) {
    .business-card {
        height: 95vh;
        min-height: 0px;
        width: 95vw;
        min-width: 0px;
        padding: 30px;
    }

    .bc-photo{
        padding: 0px 0px 30px 0px;
    }

    .bc-content{
        border: none;
        padding: 30px 0px;
    }

    .bc-links{
        padding: 30px 0px 0px 0px;
    }

    .bc-links a{
        margin: 0px 10px;
    }
}