* {
    margin: 0px;
    padding: 0px;
}

.business_card {
    background-color: #333;
    color: white;
    height: 100vh;
}

.name {
    position: absolute;
    width: 48vw;
    top: 35vh;
    padding: 2vw;
    text-align: right;
}

.profile {
    position: absolute;
    left: 49vw;
    width: 45vw;
    top: 33vh;
    padding: 2vw;
    text-align: left;
}

.profile img {
    width: 50px;
    padding: 1vh;
}

h1 {
    font-family: sans-serif;
    font-size: 50px;
}

h2{
    font-family: serif;
    font-size: 30px;
}

@media screen and (max-width: 525px){
    .profile img{
        width: 75px;
    }
    
    h2{
        font-size: 20px;
    }
}